name: Secret Scan

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - main

jobs:
  trufflehog:
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    uses: RTBHouse-DevOps-Tools/github-workflows-secret-scan/.github/workflows/pr-secret-scan.yml@stable
    with:
      only_verified: true
